opencv-contrib-python==4.5.5.62
camelot-py==0.10.1
PyPDF2==2.11.1
pandastable==0.13.0
pdf2image==1.16.0
streamlit-option-menu==0.3.2
streamlit-aggrid==0.2.2.post2
ghostscript
cx-Freeze==6.13.1
pyzbar==0.1.9
